* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, sans-serif;
    min-height: 100vh;
}

li {
    list-style: none;
}

header {
    text-align: center;
    background-color: #E0DEE3;
    padding: 40px 0;
    box-shadow: 0px 0px 20px 0px #958B851A;
}

h1 {
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 0.2rem;
}

main {
    width: 100%;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 50px 0;
}

.add-book {
    --btnSize: 50px;
    font-size: 45px;
    width: var(--btnSize);
    height: var(--btnSize);
    border-radius: calc(var(--btnSize) / 2);
    cursor: pointer;
    border: none;
    background-color: #A495B1;
    color: #FFFFFF;
    transition: all 0.25s ease-out;
}

.add-book:hover {
    background-color: #E0DEE3;
    color: #A495B1;
    
}

.cards-container {
    max-width: 60%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 30px;
    margin: 0 auto;
}

.card {
    border-radius: 10px;
    padding: 20px 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 20px rgb(109,101,95,.2);
}

.card > * + * {
    margin-top: 10px;
}

.card h4 {
    font-size: 20px;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 10px;
}

.card .author {
    font-size: 14px;
    margin-bottom: 5px;
}

.card .pages {
    font-size: 14px;
    margin-bottom: 20px;
}

.form-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0,0.7);
    display: none;
}

.cross {
    width: 20px;
    place-self: end;
    cursor: pointer;
}

.form-container form {
    border-radius: 4px;
    width: max-content;
    padding: 20px 25px;
    padding-top: 15px;
    display: grid;
    background-color: #fff;
}

.form-container ul {
    display: grid;
    grid-gap: 12px;
}

.form-container li {
    display: grid;
    gap: 5px;
}

.form-container button {
    margin-top: 10px;
    width: max-content;
    padding: 10px 30px;
    border-radius: 6px;
    border: none;
    place-self: center;
    cursor: pointer;
    background-color: #E0DEE3;
    transition: all .25s ease-out;
}

.form-container button:hover {
    transform: scale(1.02);
    background-color: #A495B1;
    color: #FFFFFF;
}


.show-form {
    display: flex;
}

.card {
    position: relative;
}

.remove-card {
    display: block;
    width: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    transition: rotate .5s ease-out;
}

.remove-card:hover {
    rotate: 90deg;
    
 }

.read-status {
    border: none;
    border-radius: 6px;
    padding: 5px 15px;
    cursor: pointer;
    font-size: 12px;
    width: max-content;
    background-color: #E0DEE3;
    transition: all .25s ease-out;
}

.read-status:hover {
    transform: scale(1.02);
    background-color: #A495B1;
    color: #FFFFFF;
}